#canvas {
    /* width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; */
    /* background-color: black; */
    background-image: linear-gradient(rgb(180, 57, 0), rgb(51, 0, 117), black);
    border: 1px solid white;
}

html {
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
}
